<%= link_to 'Home', users_path %>

<h3>Followers for <%= @user.username %> (<%= @user.followers.count %> total)</h3>

<% @user.followers.each do |follower| %>
  <p><%= follower.username %></p>
<% end %>
