<div class="row">
  <div class="col-md-12 text-center">
    <h3>Followers for <%= @user.username %></h3>
    <p>Followers currently stored in database for this user (<%= @user.followers.count %> total):</p>

    <% @user.followers.each do |follower| %>
      <p><%= follower.username %></p>
    <% end %>
  </div>
</div>
