<%= link_to 'Home Page', root_url %>

<h3>Followers for: <%= link_to @user.username, @user %></h3>

<% flash.each do |type, msg| %>
  <p><%= msg %></p>
<% end %>

<% @followers.each do |follower| %>
  <p><%= follower.screen_name %></p>
<% end %>
