<div class="row">
  <div class="col-md-12 text-center">
    <h3>Followers for: <%= link_to @user.username, @user %></h3>

    <% @followers.each do |username| %>
      <p><%= username %></p>
    <% end %>
  </div>
</div>
